body{

    background-image: url(C:\Users\balaj\OneDrive\Desktop\angularproject\RestaurantManagement\src\assets\thanks.jpg);
    background-repeat: no-repeat;
    width:2000px;
    height:500px;
    
}
  