<body>
<h3> View Restaurant Details</h3>

<div>
    <div>
        <label> <b> Restaurant Name: </b></label> {{restaurant.restaurantName}}
    </div>
    
    <div>
        <label> <b> Owner Name: </b></label> {{restaurant.ownerName}}
    </div>
    <div>
        <label> <b> Food Type: </b></label> {{restaurant.foodType}}
    </div>
    <div>
        <label> <b> Rating: </b></label> {{restaurant.rating}}
    </div>
    <div>
        <label> <b> Location: </b></label> {{restaurant.location}}
    </div>
</div>
</body>

